@import "../../styles/mixing.module.scss";

.icon {
  display: flex;
  gap: 15px;
  img {
    border-radius: 50%;

    &:nth-child(1) {
      background-color: #4267b2;
    }
    &:nth-child(2) {
      background-color: #1da1f2;
    }
    &:nth-child(3) {
      background-color: #e60023;
    }
    &:nth-child(4) {
      background-color: #0077b5;
    }
  }
}
