@import "../../styles/mixing.module.scss";

.btn {
  padding: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-green;
  border: none;
  outline: none;
  border-radius: 3px;
  a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Nunito";
  }
}
