@import "../../styles/mixing.module.scss";
.content {
  display: flex;
  align-items: center;
  gap: 20px;
  img {
    width: 100px;
    height: 75px;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    div {
      display: flex;
      gap: 10px;
      border-bottom: 1px solid gray;
      padding-bottom: 10px;
      font-size: 14px;
    }
  }
}
