@import "../styles/mixing.module.scss";

$color-green: #00730c;
$color-light: #00730c24;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-transform: capitalize;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}
.span {
  color: $color-green;
}
h1 {
  color: #fff;
  font-weight: 700;
  font-size: 78px;
  @include respond(mobile) {
    font-size: 2rem;
  }
}
h2 {
  font-style: normal;
  width: max-content;
  font-weight: 700;
  font-size: 45px;
  position: relative;
  padding-bottom: 10px;

  span {
    color: $color-green;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: $color-green;
  }

  @include respond(mobile) {
    font-size: 1.8rem;
    //width: 90%;
    text-wrap: balance;

    width: 100%;
  }
}

h6 {
  // margin-bottom: 60px;
  font-size: 18px;
  font-weight: 100;
}
