@import "../../styles//mixing.module.scss";

.homeExpert {
  width: 100%;
  min-height: 300px;
  margin: 0 auto 100px;
  background-color: $color-light;

  .container {
    @include container_width;
    height: 100%;
    padding: 20px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h6 {
      margin: 50px 0 30px;
      @include respond(mobile) {
        margin: 0 0 30px;
      }
    }
    h2 {
      margin-bottom: 60px;
      @include respond(mobile) {
        font-size: 2rem;
      }
    }
    .wrapper {
      width: 100%;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .card {
        width: 330px;
        height: 321px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 12px 1px $color-light;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition: all 0.3s;
        .img {
          width: 105px;
          height: 105px;
          border-radius: 50%;
          background-color: #fff;
          padding: 15px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        h3 {
          font-size: 25px;
          font-weight: 300px;
          color: $color-green;
        }
        p {
          width: 270px;
          line-height: 2;
          font-size: 14px;
          color: #676767;
          text-align: center;
        }
        &:nth-child(1).active {
          background-color: $color-green;
          h3 {
            color: #fff;
          }
          p {
            color: #fff;
          }
        }

        &:hover {
          background-color: $color-green;
          h3 {
            color: #fff;
          }
          p {
            color: #fff;
          }
        }
      }
      @include respond(mobile) {
        .card {
          width: 170px;
          height: 180px;

          .img {
            width: 60px;
            height: 60px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
            width: 100%;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
