@import "../../styles/mixing.module.scss";

.testimonial {
  width: 100%;
  height: 568px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 100%;
    max-width: 1420px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;

    h2 {
      margin: 20px 0 60px;
    }

    .slider {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      place-items: center;
      margin-bottom: 50px;
      gap: 30px;
      transform: translateX(0);
      transition: transform 0.5s;
      .slide {
        display: flex;
        align-items: center;
        padding: 2rem;
        width: 690px;
        height: 317px;
        border-radius: 10px;
        background: $color-light;
        transition: transform 0.5s;

        &.active {
          background-color: $color-green;
        }

        .left {
          .img {
            width: 200px;
            height: 250px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: -10px -10px 1px $color-green;
            transition: all 0.5s;
            &.active {
              box-shadow: -10px -10px 1px #9f6e04;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .right {
          position: relative;
          padding: 1rem;
          width: 450px;
          height: 200px;
          border-radius: 0 5px 5px 0;
          box-shadow: 10px 10px 1px $color-green;
          background-color: #f6f7f9;
          z-index: 22;
          transition: all 0.5s;

          &.active {
            box-shadow: 10px 10px 1px #9f6e04;
          }

          .comma {
            position: absolute;

            svg {
              font-size: 3rem;
              fill: $color-green;
              opacity: 0.3;
            }
          }

          p {
            position: relative;
            width: 100%;
            font-size: 14px;
            line-height: 1.7;
            margin-bottom: 10px;
            color: #000;
            z-index: 22;
          }
          .name {
            font-weight: 100;
            color: #817f7f;
            h4 {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s;
      cursor: pointer;
      gap: 5px;
      .dot {
        width: 35px;
        height: 10px;
        border-radius: 5px;
        transition: transform 0.5s;
        border: 1px solid rgb(3, 93, 26);
        transition: all 0.5s;

        //background-color: #fff;
        &.active {
          background: $color-green;
          width: 50px;
        }
      }
    }
  }
}
