@import "../../styles/mixing.module.scss";

.universal {
  width: 100%;
  max-width: 1920px;
  height: 433px;
  margin: 0 auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url(../../assests/images/bg.png);
  position: relative;
  @include respond(mobile) {
    height: 250px;
  }
  .img_2 {
    position: absolute;
    left: -100px;
    filter: blur(2px);
  }
  .container {
    width: 100%;

    margin: 0 auto;
    height: 100%;
    display: flex;

    margin-left: 255px;
    @include respond(mobile) {
      margin-left: 0;
    }

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 50px;
      //align-items: center;
      justify-content: center;
      position: relative;

      .img {
        position: absolute;
        right: 70px;
        bottom: 20px;
      }

      button {
        width: max-content;
        margin-top: 100px;
      }
    }
    @include respond(mobile) {
      .left {
        width: 90%;
        padding: 0 30px;
        h2 {
          font-size: 1.5rem;

          text-align: center;
        }
        .img {
          display: none;
        }
        button {
          width: 300px;
        }
      }
    }
    .right {
      flex: 1;
      @include respond(mobile) {
        display: none;
      }
    }
  }
}
