@import '../../global.scss';

.universal {
  width: 1920px;
  height: 433px;
  margin-bottom:  100PX;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  //align-items: flex-end;
 // justify-content: flex-end;
  background: url(../../assests/images/bg.png);

position: relative;
.img-2 {
  position: absolute;
  left: -100px;
  filter: blur(2px);
  
}
  .container {
    width: 1665px;
    height: 100%;
    display: flex;
  margin-left: 255px;

   
    .left {
      flex:1;
      display: flex;
      flex-direction: column;
      //align-items: center;
      justify-content: center;
      position: relative;

      .img{
        position: absolute;
        right: 70px;
        bottom: 20px;
      }

      button{
        width: max-content;
        margin-top: 100px;
      }
    }
    .right {
      flex:1;
    }
  }
}